$sans: 'Trebuchet MS', Arial, Helvetica, sans-serif;
$serif: Georgia, serif;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
figure {
	margin: 1em 0;
}
footer {
	padding-bottom: 1em;
}
.lead {
	padding-left: 1em;
}

.pdf {
	width: 100%;
	height: 600px;
}

.pull-left {
	padding-right: 1em;
}
.pull-right {
	padding-left: 1em;
}

.scribd_iframe_embed {
	height: 600px;
	width: 100%;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
	body {
		font-size: 16px;
		font-family: $serif;
	}

	h1 {
		font-family: $sans;
		font-size: 40px;
	}
	h2,
	h3,
	h4,
	h5,
	h6,
	th {
		font-family: $sans;
	}
}

/* Large devices (desktops, 1200px and up) */

@media (min-width:1200px) {}
